---
interface Props {}

const {} = Astro.props;
---

<footer aria-labelledby="footer-heading" class="relative border-t border-gray-900/10 py-24 sm:py-32">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="xl:grid xl:grid-cols-3 xl:gap-8">
    <img class="h-20" src="/logo.png" alt="BlocFeed logo">
    <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
      
      <!-- Left group -->
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h3 class="text-sm font-semibold leading-6 text-gray-900">Policies</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li><a href="/legal" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Legal & Trust Center</a></li>
            <li><a href="/legal#privacy" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Privacy Policy</a></li>
            <li><a href="/legal#terms" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Terms of Service</a></li>
            <li><a href="/legal#guidelines" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Community Guidelines</a></li>
          </ul>
        </div>
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold leading-6 text-gray-900">Support</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li><a href="/contact" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Contact & Support</a></li>
            <li><a href="https://bloccfeed.featurebase.app/" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Forum</a></li>
            <li><a href="/careers" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Careers</a></li>
          </ul>
        </div>
      </div>

      <!-- Right group -->
      <div class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <h3 class="text-sm font-semibold leading-6 text-gray-900">Social</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li><a href="https://twitter.com/bloccfeed" target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Twitter / X</a></li>
            <li><a href="https://linkedin.com/company/bloccfeed" target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900">LinkedIn</a></li>
            <li><a href="https://github.com/bloccfeed" target="_blank" class="text-sm leading-6 text-gray-600 hover:text-gray-900">GitHub</a></li>
          </ul>
        </div>
        <div class="mt-10 md:mt-0">
          <h3 class="text-sm font-semibold leading-6 text-gray-900">Legal</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li><a href="/legal#privacy" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Privacy Policy</a></li>
            <li><a href="/legal#terms" class="text-sm leading-6 text-gray-600 hover:text-gray-900">Terms of Service</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>
