---
interface Props {
}

const {} = Astro.props;
---

<div class="mx-auto mt-32 max-w-7xl sm:mt-56 sm:px-6 lg:px-8">
    <div
            class="relative overflow-hidden bg-gray-200 px-6 py-20 shadow-xl sm:rounded-3xl sm:px-10 sm:py-24 md:px-12 lg:px-20">
        <img class="absolute inset-0 h-full w-full object-cover"
        src="./happy-man-holding-light-bulb-symbol.jpg"/>
        <div class="absolute inset-0 bg-gray-900/50 mix-blend-multiply"></div>
        <div class="relative mx-auto max-w-2xl lg:mx-0">
            <img class="h-12 w-auto" src="./logo.png" alt="">
            <figure>
                <blockquote class="mt-6 text-lg font-semibold text-white sm:text-xl sm:leading-8">
                    <p>At BlocFeed, we believe ideas are currency — and just like currency, they should flow, multiply, and create value. Unlike other platforms where concepts are lost in endless noise, BlocFeed transforms your creativity into real opportunities.</p>
                </blockquote>
                <figcaption class="mt-6 text-base text-white">
                    <div class="font-semibold">Milton Vafana</div>
                    <div class="mt-1">BloccFeed Founder</div>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
